.root {
  height: "100vh";
}

.image {
  width: "100%";
}

.image2 {
  margin-top: "35vh";
  width: "100%";
}

.display {
  display: "none";
}

.paper {
  padding: "80px";
  margin: "16px 96px 32px 96px";
  display: "flex";
  flexdirection: "column";
}
.avatar {
  margin: "8px";
  background-color: "#141414";
}

.form {
  width: "100%";
  margin-top: "8px";
}

.submit {
  font-family: "'Euclid Circular A'; sans-serif";
  border-radius: "100rem";
  font-size: "1.16vw";
  padding: "0.50vw 2.1vw";
  margin: "24px 0 16px";
  color: "#fff";
}
